<form name="blzInput">
	<div class="list-group">
		<div class="list-group-item">
			<div class="input-group">
				<span class="input-group-addon">blz:</span> <input
					class="form-control" ng-model="blz" name="blz" type="number"
					min="0" ngMinlength="5" minlength="5" ngMaxlength="10"
					maxlength="10" placeholder="Enter a BLZ here">
			</div>
		</div>

		<div class="nav nav-pills">
			<div
				ng-if="!(blzInput.blz.$error.maxlength==null && blzInput.blz.$error.minlength==null 
			) && blzInput.blz.$dirty">
				<div class="list-group-item list-group-item-success">
					<span class="error" ng-show="blzInput.blz.$error.maxlength">
						to long!</span> <span class="error"
						ng-show="blzInput.blz.$error.minlength"> to short!</span>
				</div>
			</div>
			<div
				ng-if="blzInput.blz.$error.maxlength==null && blzInput.blz.$error.minlength==null
			&& blzInput.blz.$dirty">
				<div class="list-group-item list-group-item-warning">
					<span> <span class="badge">{{10-blzInput.blz.$viewValue.length}}</span>
						digs remaining
					</span>
				</div>
			</div>
		</div>

	</div>
</form>
