<!DOCTYPE html>
<meta charset="utf-8">

<html ng-app="bankapp.customerview">
<div class="col-xs-14 col-sm-8 col-md-8 col-lg-8">

	<div ng-style="{'float': 'left'}" class="input-group">
		<span ng-style="{'width': '200px'}" class="input-group-addon"><span
			ng-style="{'float': 'right'}">ID <span></span>:
		</span> </span>
		<p ng-style="{'width': '195px'}" class="form-control" placeholder="0">{{accountTwo.id}}</p>
	</div>
	<div ng-style="{'float': 'left'}" class="input-group">
		<span ng-style="{'width': '200px'}" class="input-group-addon"><span
			ng-style="{'float': 'right'}">Betrag <span></span>:
		</span> </span>
		<p ng-style="{'width': '195px'}" class="form-control" placeholder="0">{{accountTwo.balance}}</p>
	</div>
	<div ng-style="{'float': 'left'}" class="input-group">
		<span ng-style="{'width': '200px'}" class="input-group-addon"><span
			ng-style="{'float': 'right'}">Type <span></span>:
		</span> </span>
		<p ng-if="accountTwo.accountType=='CheckingAccount'"
			ng-style="{'width': '195px'}" class="form-control" placeholder="0">Girokonto</p>
		<p ng-if="accountTwo.accountType=='SavingsAccount'"
			ng-style="{'width': '195px'}" class="form-control" placeholder="0">Sparkonto</p>
		<p ng-if="accountTwo.accountType=='FlexibleSavingsAccount'"
			ng-style="{'width': '195px'}" class="form-control" placeholder="0">
			TagesgeldKonto</p>
	</div>

	<button ng-if="accChoosen" ng-click="accoverview()">AccountÜbersicht</button>
</div>
</html>