<!DOCTYPE html>
<html ng-app="bankapp.customerview">
<meta charset="utf-8">
<head>
<title>Insert title here</title>
</head>
<body>
	<div class="container-fluid" >
		<div ng-controller="customerListCtrl">
			<div class="row">
				<div ng-if="newAvaible" class="col-xs-7 col-sm-4 col-md-3 col-lg-3" ng-click="click('undefined')">
					<div  class="btn btn-default" ng-style="{'height':'200px','width':'200px',
					'margin' : '30px'}">
						<span>Kunde Hinzufügen
						</span>
					</div>
				</div>
				<div ng-repeat="customer in customers | orderBy:orderProp | filter:query" ng-click="click(customer.id)">
					<div class="col-xs-7 col-sm-4 col-md-3 col-lg-3">
						<div " class="btn btn-default" ng-style="{'height':'200px','width':'200px',
						'margin' : '30px'}">
							<span>Name: {{customer.firstname}}</span>
							<p>id: {{customer.id}}</p>
							<p>surname: {{customer.surname}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>