<!DOCTYPE html >
<html lang="en" ng-app="bankapp" class="setBackground">
<meta charset="utf-8">
<link rel="stylesheet" href="../style/background.css">
<link rel="stylesheet" href="../../../libraries/dist/css/bootstrap.css">
<script src="../../../libraries/angular-1.3.4/angular.js"></script>
<script src="../../../libraries/angular-1.3.4/angular-route.js"></script>
<script src="../controller/mainController.js"></script>
<script src="../controller/mainPageController.js"></script>
<script src="../controller/breadcrumController.js"></script>
<script src="../controller/bankControllerold.js"></script>

<head>

<title ng-controller="titleCtrl">{{name}}</title>

</head>
<body>
	<div ng-controller="headerComponentCtrl"
		ng-style="{'margin-bottom': '0px'}">
		<div ng-include='headerTemplate_url'></div>
	</div>
	<div class="setBackground">
		<div class="row">
			<div class="col-md-2">
				<div ng-controller="sidebarComponentCtrl"
					ng-style="{'margin-top': '0px'}">
					<div ng-include='sidebarTemplate_url'></div>
				</div>
			</div>
			<div class="col-md-8">
				<div ng-controller="searchbarComponentCtrl"
					ng-style="{'margin-top': '0px'}">
					<div ng-include='searchbarTemplate_url'></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>