<!DOCTYPE html>
<html ng-app="bankapp.bankview">
<meta charset="utf-8">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<h3>
		Filialen
		<hr
			ng-style="{'color':'#424242','height':'2px','background-color':'#424242'}">
	</h3>
	<div ng-repeat="contact in bank.contacts">
		<div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
			<table>
				<th ng-style="{'vertical-align': 'top'}">
					<button>
						<span ng-click="deleteContact($index)" class="glyphicon glyphicon-trash" ng-style="{'color':'red'}"></span>
					</button>
				</th>
				<td ng-include="'mainTopicTemplates/bankSubpageTemplates/bankManipulateTemplates/contactRow.html'">
				</td>
				
			</table>
		</div>
	</div>
	<table >
	<th ng-style="{'vertical-align': 'top'}">
	<button ng-click="triggerAddNew()">
		<span class="glyphicon glyphicon-plus" ng-style="{'color':'green'}"></span>
	</button>
	
	</th>	
		</table>


</div>
</html>