<!DOCTYPE html>
<meta charset="utf-8">

<html ng-app="bankapp.bankview">
<div class="controllClass">
	<h3>
		Filialen
		<hr
			ng-style="headerUnderlineStyle">
	</h3>
	<div ng-repeat="contact in bank.contacts">
		<div ng-class="contactClass">
			<table>
				<th ng-style="contactAlignClass">
					<button>
						<span ng-click="deleteContact($index)" class="glyphicon glyphicon-trash" ng-style="nio"></span>
					</button>
				</th>
				<td ng-include="'mainTopicTemplates/bankSubpageTemplates/bankManipulateTemplates/contactRow.html'">
				</td>
				
			</table>
		</div>
	</div>
	<table >
	<th ng-style="contactAlignClass">
	<button ng-click="triggerAddNew()">
		<span class="glyphicon glyphicon-plus" ng-style="ok"></span>
	</button>
	
	</th>	
		</table>


</div>
</html>