<!DOCTYPE html>
<meta charset="utf-8">

<html ng-app="bankapp.bankview">
<meta charset="utf-8">
<div class="manipulateTemplateClass">
	<h3>
		Zusätzliche Informationen
		<hr ng-style="headerUnderlineStyle">
	</h3>
	<button class="panel panel-success" ng-style="buttonLeftMarginStyle" ng-click="showCustomerByBank()">
		<div class="panel-body">
			<span class="glyphicon glyphicon-phone-alt"></span> Diese Bank hat {{customerCount}} registrierte Kunden.
		</div>
	</button>
	<button class="panel panel-success" ng-style="buttonLeftMarginStyle" ng-click="showAccountByBank()">
		<div class="panel-body">
			<span class="glyphicon glyphicon-usd"></span> Diese Bank hat {{accountCount}} registrierte Konten.
		</div>
	</button>
</div>
</html>