<!DOCTYPE html>
<meta charset="utf-8">
<html ng-app="bankapp.bankview">
<div ng-class="manipulateTemplateClass">
	<h3>
		Allgemeine Daten
		<hr ng-style="headerUnderlineStyle">
	</h3>
	<div ng-style="rStyle" class="input-group">
		<span ng-style="outputStyle" class="input-group-addon"><span ng-style="rStyle">Name der Bank <span
				class="glyphicon glyphicon-asterisk" ng-style="nio"></span>:
		</span> </span> <input type="text" class="form-control" placeholder="Name" ng-model="bank.name">
	</div>
	<br> <br>
	<div ng-style="rStyle" class="input-group">
		<span ng-style="outputStyle" class="input-group-addon"><span ng-style="rStyle">Bankleitzahl <span
				class="glyphicon glyphicon-asterisk" ng-style="nio"></span>:
		</span> </span> <input type="number" class="
							form-control" placeholder="BLZ" ng-model="bank.sortCode">
	</div>
	<br> <br>
	<div ng-style="rStyle" class="input-group">
		<span class="glyphicon glyphicon-asterisk" ng-style="nio"></span> <span>Pflichtfelder</span>
	</div>
</div>
</html>