<meta charset="utf-8">

<div ng-style="rStyle" class="input-group">
	<span ng-style="ioStyle" class="input-group-addon"><span ng-style="rStyle"> Stra&szlig;e :</span> </span> <input
		class="form-control" placeholder="Street" ng-model="contact.address.street">
</div>
<br>
<div ng-style="rStyle" class="input-group">
	<span ng-style="ioStyle" class="input-group-addon"><span ng-style="rStyle"> Hausnummer :</span> </span> <input
		class="form-control" placeholder="Housenumber" ng-model="contact.address.houseNumber">
</div>
<br>
<div ng-style="rStyle" class="input-group">
	<span ng-style="ioStyle" class="input-group-addon"><span ng-style="rStyle"> PLZ :</span> </span> <input
		class="form-control" placeholder="ZIPCODE" ng-model="contact.address.zipCode">
</div>
<br>
<div ng-style="rStyle" class="input-group">
	<span ng-style="ioStyle" class="input-group-addon"><span ng-style="rStyle"> Stadt :</span> </span> <input
		class="form-control" placeholder="Town" ng-model="contact.address.city">
</div>
<br>
<div ng-style="rStyle" class="input-group">
	<span ng-style="ioStyle" class="input-group-addon"><span ng-style="rStyle"> E-Mail :</span> </span> <input
		class="form-control" placeholder="E-Mail" ng-model="contact.email">
</div>
<br>
<div ng-style="rStyle" class="input-group">
	<span ng-style="ioStyle" class="input-group-addon"><span ng-style="rStyle"> Handynummer :</span> </span> <input
		class="form-control" placeholder="mobilePhone" ng-model="contact.mobilePhone">
</div>
<br>
<div ng-style="rStyle" class="input-group">
	<span ng-style="ioStyle" class="input-group-addon"><span ng-style="rStyle"> Telefonummer :</span> </span> <input
		class="form-control" placeholder="Phone" ng-model="contact.phone">
</div>
<br>
