<meta charset="utf-8">
<div ng-style="rStyle" class="input-group">
	<span ng-style="ioStyle" class="input-group-addon"><span ng-style="rStyle"> Stra&szlig;e :</span> </span> <input
		type="text" class="form-control" placeholder="Street" ng-model="newContact.address.street">
</div>
<br>
<div ng-style="rStyle" class="input-group">
	<span ng-style="ioStyle" class="input-group-addon"><span ng-style="rStyle"> Hausnummer :</span> </span> <input
		type="text" class="form-control" placeholder="Housenumber" ng-model="newContact.address.houseNumber">
</div>
<br>
<div ng-style="rStyle" class="input-group">
	<span ng-style="ioStyle" class="input-group-addon"><span ng-style="rStyle"> PLZ :</span> </span> <input
		type="text" class="form-control" placeholder="ZIPCODE" ng-model="newContact.address.zipCode">
</div>
<br>
<div ng-style="rStyle" class="input-group">
	<span ng-style="ioStyle" class="input-group-addon"><span ng-style="rStyle"> Stadt :</span> </span> <input
		type="text" class="form-control" placeholder="Town" ng-model="newContact.address.city">
</div>
<br>
<div ng-style="rStyle" class="input-group">
	<span ng-style="ioStyle" class="input-group-addon"><span ng-style="rStyle"> E-Mail :</span> </span> <input
		type="email" class="form-control" placeholder="E-Mail" ng-model="newContact.email">
</div>
<br>
<div ng-style="rStyle" class="input-group">
	<span ng-style="ioStyle" class="input-group-addon"><span ng-style="rStyle"> Handynummer :</span> </span> <input
		type="tel" class="form-control" placeholder="mobilePhone" ng-model="newContact.mobilePhone">
</div>
<br>
<div ng-style="rStyle" class="input-group">
	<span ng-style="ioStyle" class="input-group-addon"><span ng-style="rStyle"> Telefonummer :</span> </span> <input
		type="tel" class="form-control" placeholder="Phone" ng-model="newContact.phone">
</div>
<br>
