<!DOCTYPE html>
<meta charset="utf-8">

<html ng-app="bankapp.accountview">
<meta charset="utf-8">
<head>
<title>Insert title here</title>
</head>
<body>
	<div ng-controller="accountViewCtrl">
		<div
			ng-include="'mainTopicTemplates/accountSubpageTemplates/accountManipulateTemplates/accountInAndOut.html'"></div>
	<div
			ng-include="'mainTopicTemplates/accountSubpageTemplates/accountManipulateTemplates/accountStatements.html'"></div>
	<div
		ng-include="'mainTopicTemplates/accountSubpageTemplates/accountManipulateTemplates/accountControl.html'"></div>
	</div>
	
	
</body>
</html>