<!DOCTYPE html>
<html ng-app="bankapp.customerview">
<meta charset="utf-8">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<h3>
		Bankkonten
		<hr
			ng-style="{'color':'#424242','height':'2px','background-color':'#424242'}">
	</h3>
	<div class="container-fluid" >
		<div ng-controller="customerListCtrl">
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-6 col-lg-6" ng-click="">
					<div  class="btn btn-default" ng-style="{'height':'200px','width':'200px',
					'margin' : '30px'}">
						<span>Konto Hinzufügen</span>
					</div>
				</div>
				<div ng-repeat="customer in customers | orderBy:orderProp | filter:query" ng-click="">
					<div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
						<div " class="btn btn-default" ng-style="{'height':'200px','width':'200px',
						'margin' : '30px'}">
							<span>Name: {{customer.firstname}}</span>
							<p>id: {{customer.id}}</p>
							<p>surname: {{customer.surname}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>