<!DOCTYPE html>
<html ng-app="bankapp.customerview">
<meta charset="utf-8">
<div ng-class="controllClass">
	<h3>
		Allgemeine Daten
		<hr ng-style="headerUnderlineStyle">
	</h3>
	<div ng-style="rStyle" class="input-group">
		<span ng-style="outputStyle" class="input-group-addon"><span ng-style="rStyle">Vorname <span
				class="glyphicon glyphicon-asterisk" ng-style="nio"></span>:
		</span> </span> <input class="form-control" placeholder="Firstname" ng-model="customer.firstname">
	</div>
	<br> <br>
	<div ng-style="rStyle" class="input-group">
		<span ng-style="outputStyle" class="input-group-addon"><span ng-style="rStyle">Nachname <span
				class="glyphicon glyphicon-asterisk" ng-style="nio"></span>:
		</span> </span> <input class="
							form-control" placeholder="Surname" ng-model="customer.surname">
	</div>
	<br> <br>
	<div ng-style="rStyle" class="input-group">
		<span class="glyphicon glyphicon-asterisk" ng-style="nio"></span> <span>Pflichtfelder</span>
	</div>
</div>
</html>