<!DOCTYPE html>
<html ng-app="bankapp.bankview">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<div ng-controller="bankviewCtrl">
		<div class="container-fluid">
			<div class="row">
				<div ng-include="'mainTopicTemplates/bankSubpageTemplates/bankManipulateTemplates/bankInAndOut.html'"></div>
				<div ng-include="'mainTopicTemplates/bankSubpageTemplates/bankManipulateTemplates/bankExtendet.html'"></div>
				<p><div ng-include="'mainTopicTemplates/bankSubpageTemplates/bankManipulateTemplates/bankContacts.html'"></div>
				<div ng-include="'mainTopicTemplates/bankSubpageTemplates/bankManipulateTemplates/bankControl.html'"></div>
				
				</div>
		</div>
	</div>
</body>
</html>