<!DOCTYPE html>
<html ng-app="bankapp.bankview">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<div ng-controller="bankviewCtrl">
		<div class="container-fluid">
			<div class="row">
				<div ng-include="'mainTopicTemplates/bankSubpageTemplates/bankManipulateTemplates/bankInAndOut.html'"></div>
				<div class="col-xs-14 col-sm-8 col-md-6 col-lg-6">2</div>
				<div class="col-xs-14 col-sm-8 col-md-6 col-lg-6">3</div>
			</div>
		</div>
		{{bank}}
	</div>
</body>
</html>