<!DOCTYPE html>
<html ng-app="bankapp.bankview">
<meta charset="utf-8">
<head>
<title>Insert title here</title>
</head>
<body>
	<div class="container-fluid">
		<div ng-controller="bankListCtrl">
			<div class="row">
				<div class="col-md-3">
					<div " class="btn btn-default" ng-style="{'height':'200px','width':'200px',
					'margin' : '30px'}">
						<span>Bank Hinzufügen</span>
					</div>
				</div>
				<div ng-repeat="bank in banks | orderBy:orderProp">
					<div class="col-md-3">
						<div " class="btn btn-default" ng-style="{'height':'200px','width':'200px',
						'margin' : '30px'}">
							<span>Name: {{bank.name}}</span>
							<p>id: {{bank.id}}</p>
							<p>BLZ: {{bank.sortCode}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>